{% extends "dashboard/base.html" %} {% load static %} {% block content %}
<section class="pcoded-main-container">
  <div class="pcoded-content">
    {% include 'dashboard/message.html' %}
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Order #{{order.slug}} Info</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a href="#!"> order Details</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <h5>Order Details for Order #{{ order.slug }}</h5>
            <p><strong>Status:</strong> {{ order.status }}</p>
            <p><strong>Total Price:</strong> {{ order.total_price }}</p>
            <p>
              <strong>Shipping Charges:</strong> {{ order.shipping_charge }}
            </p>
            <p><strong>Subtotal:</strong> {{ order.subtotal_price }}</p>
            <p><strong>Delivered:</strong> {{ order.is_delivered }}</p>
            <p><strong>Paid:</strong> {{ order.is_paid }}</p>
            <p><strong>Payment Method:</strong> {{ order.payment_method }}</p>
            <p>
              <strong>Payment transaction_id:</strong>
              {{ order.transaction_id}}
            </p>
          </div>
          <div class="col-md-6">
            <h5>Shipping Address:</h5>
            {% if shipping_address %}
            <p>
              <strong>Name:</strong> {{ shipping_address.first_name }}
              {{shipping_address.last_name}}
            </p>
            <p>
              <strong>Address:</strong> {{ shipping_address.address }},
              {{shipping_address.city }}, {{ shipping_address.state }},
              {{shipping_address.country }}
            </p>
            <p><strong>Email:</strong> {{ shipping_address.email }}</p>
            <p><strong>Phone:</strong> {{ shipping_address.phone }}</p>
            {% else %}
            <p>No shipping address provided.</p>
            {% endif %}
            <td>
              <a
                href="{% url 'HandleOrderStatus' order.slug %}"
                class="btn btn-sm btn-success"
              >
                Click here if order is Delivered</a
              >
            </td>
            <td>
              <a
                href="{% url 'HandleOrderCancel' order.slug %}"
                class="btn btn-sm btn-danger"
              >
                Click here To cancel order</a
              >
            </td>
          </div>
        </div>

        <h5 class="mt-3">Order Items: (total {{order.total_items}} Items)</h5>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>image</th>
              <th>Product</th>
              <th>Unit Price</th>
              <th>Quantity</th>
              <th>Item Total Price</th>
            </tr>
          </thead>
          <tbody>
            {% for item in order_items %}
            <tr>
              <td>
                <a class="venobox" href="{{item.product.image}}">
                  <img
                    src="{{item.product.image}}"
                    width="120px"
                    class="img-fluid img-responsive"
                    alt=""
                /></a>
              </td>
              <td>{{ item.product.name }}</td>
              <td>{{ item.product.price }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.item_total_price }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock content %}{% block javascripts %}
<script>
  $(".venobox").venobox({
    spinner: "cube-grid",
    share: false,
  });
</script>
{% endblock javascripts %}
